html, body {
 height: 100%;
 width: 100%;
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 background-image: url("https://wallpaper.dog/large/20552168.jpg");
 background-size: cover;
 
}

#scene-description {
 width: 600px;
 margin: 20px auto;
 text-align: center;
 font-family: "Trebuchet MS";
 font-size: 0.8em;
 color: white;
}

#scene-container {
 width: 600px;
 height: 400px;
 margin: auto;
 border: 5px solid black;
 background-color: white;
 overflow: hidden; /* contain objects "on-screen" */
 background-image: url(https://contentful.harrypotter.com/usf1vwtuqyxm/5Oie9dB3YOhwy8m5UeQV8s/26688b1533c09c589ba5a33cebc3692b/quidditch-pitch_1_1800x1248.png);
 background-size: cover;
}
#snitch{
    height: 20px;
     animation: flying 4.9s infinite linear;
}

#Harry-Potter{
    height: 100px;
    animation: flying 5s infinite linear;
}

#ron{
    height: 60px;
    position: relative; 
    top: 150px;
    left: 100px;
    animation: flyingron 1.7s infinite linear;
    animation-direction: alternate;
}
@keyframes flying {
  0% {
    transform: translate(-200px) rotate(0deg);
  }
  20% {
    transform: translate(100px) rotate(-5deg);
  }
  40% {
    transform: translate(300px, 100px) rotate(30deg);
  }
  80% {
    transform: translate(1500px) rotate(-30deg);
  }
  90% {
    transform: translate(400px) scale(-1);
  }
  100% {
    transform: translate(-100px) scale(-1) ;
  }
}

@keyframes flyingron {
  0% {
    transform: translatey(100px) ;
  }
  50% {
    transform: translate(50px, 0px);
  }
  75% {
    transform: translate(-100px, -50px)scaleX(-1);
  }
  85% {
    transform: translate(-200px)scaleX(-1);
  }
  100%{
    transform: translate(-370px)scaleX(-1) ;
  }
}